
* {
    padding: 0;
    margin: 0;
}

.loginForm {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background: rgb(244, 152, 106);
    // background: linear-gradient(90deg, rgba(255, 56, 46, 1) 0%, rgba(254, 82, 39, 1) 35%, rgba(255, 46, 46, 1) 100%);
    gap: 1.5rem;
 

    .textField {
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 8px;
        outline: none;
        border-width: 2px;
        border-color: rgb(215, 200, 200);
    }

    .logoImg {
        width: 100px;
        height: 100px;
    }

    .submitButton {
        
        border-radius: 16px;
        background: tomato;
        color:white;
        // box-shadow: 20px 20px 60px #a20e0e,
        //     -20px -20px 60px #dc1414;
        padding: 8px 16px  ;
        cursor: pointer;
        font-family: cursive;
        font-style: oblique;
        border: none;
    }

    .submitButton:hover {
 border: none;
    }
}