* {
    padding: 0;
    margin: 0;
}

.loginForm {
    background-color: #faf5d2;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;


    .textField {
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 8px;
        outline: none;
        border-width: 2px;
        border-color: rgb(215, 200, 200);
    }

    .logoImg {
        width: 100px;
        height: 100px;
    }

    .submitButton {

        border-radius: 12px;
        border-color: #faf5d2;
        background: tomato;
        color: white;
        padding: 8px 16px;
        cursor: pointer;
        font-family: cursive;
        font-style: oblique;
    }

    .submitButton:hover {
        border-color:#c5c1a6;
    }
}