.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100vh;
}

.carouselContainer {
    max-width: 100vw;
    height: 80vh;
    display: flex;
}

.carousel-wrapper,
.carousel,
.carousel>.slider-wrapper,
.carousel>.slider-wrapper>.slider {
    height: 80%;
}

.image-container {
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel{ .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    height: 80vh;
}}

.slide img{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit:fill;
}