* {
    padding: 0;
    margin: 0;
}

.loginForm {
    background-color: #fff;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;


    .textField {
        background-color: #f8f9fd;
        font-size: 1.25rem;
        box-sizing: border-box;
        height: 60px;
        width: 22rem;
        // display: flex;
        padding: 1.5rem 1.5rem;
        // justify-content: start;
        border:none;
        // border: 2px solid rgb(247, 247, 247);
        border-radius: 8px;
        outline:none;
    }
    .textField:hover,:focus{
        border: 1px solid rgb(213, 210, 210);
        box-sizing: border-box;
        
    }
    
    .forgotpass-btn{
        position: relative;
        left:2rem;
    }
   

    .logoImg {
        width: 222px;
        height: 100px;
    }

    .submitButton {
        padding: 17px 144px;
        border: 2px solid #43a027;
        border-radius: 8px;
        background: #4c9a34;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .submitButton:hover {
        border: 2px solid #299906;
        background-color: #30aa0b;
    }
}